
h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
}



body {
    background-color:cornflowerblue;
}

section {
    text-align:center;
    margin:60px;
}

#generate {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:60px;
    border-radius: 10px;
    
}

#quoteInfo {
    margin:60px;
}

